@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat' sans-serif;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ===========================navbar start============================= */
.navbar {
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #030e0d;
    border: 1px solid transparent;
    border-bottom-color: #676666;
    position: sticky;
    z-index: 10;
    top: 0px;
}

/* ==============style on unordered lis================== */
ul{
    list-style-type: none;
    display: flex;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: .5s;
}

.navbar a:hover{
    color: orangered;
    transition: .5s;
}
.navbar #mid li{
    display: flex;
    padding: 0px 25px;
}
.navbar #end a{
    border: 1px solid orangered;
    color: orangered;
    padding: 10px 15px;
}
.navbar #end a:hover{
    background-color: orangered;
    color: white;
}
/* ================================navbar end================================== */

/* ============style chat box================ */

.chat {
    height: 12vh;
    width: 10vh;
    position: fixed;
    top: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    left: 1vh;
    z-index: 3;
}
.chat a img{
    box-shadow: 0px 0px 10px orangered;
    border-radius: 50px;
}
.chat #chat {
    font-size: 18px;
    font-weight: bolder;
    color: #fff;
}

/* =============end style chat box================== */

/* ===============start .up-down style=============== */

.up-down {
    position: fixed;
    width: 15vh;
    top: 93vh;
    left: 95%;
    z-index: 5;
    border: 1px solid;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
}

.up-down #up {
    border: 1px solid orangered;
    color: orangered;
    padding: 2px 5px;
}

.up-down #down {
    border: 1px solid orangered;
    color: orangered;
    padding: 2px 5px;
}

.up-down #up:hover {
    background-color: orangered;
    color: white;
}

.up-down #down:hover {
    background-color: orangered;
    color: white;
}

.up-down a {
    text-decoration: none;
    font-size: 30px;
    color: black;
}

/* ================div hero tag======================== */
.hero {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-image: url('https://www.vippng.com/png/full/116-1160128_glowing-eyes-meme-template-light-effect-png-free.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: black;
}

/* ==============box1 height width=============== */
.hero #box1 {
    height: 75%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 0px 0px 90px;
    /* background-color: wheat; */
}

.hero #box1 #box-1 {
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    /* border: 1px solid; */
}

.hero #box1 #box-1 #greet {
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 2px;
    color: orangered;
}

.hero #box1 #box-1 #name {
    font-weight: 800;
    font-size: 55px;
    color: #969697;
}

.hero #box1 #box-1 #name span {
    color: #ff4400c9;
    font-size: 55px;
    padding: 0px 0px;
    background-color: transparent;
    /* text-shadow: 3px 0px 5px white; */
    cursor: pointer;
    border: none;
}

.hero #box1 #box-1 #email a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    color: #a2a4a5;
}

.hero #box1 #box-1 span {
    padding: 15px 27px;
    background-color: orangered;
    color: white;
    border: 2px solid transparent;
    font-size: 20px;
    cursor: pointer;
}

.hero #box1 #box-1 span:hover{
    background-color: black;
    border: 2px solid orangered;
    color: orangered;
}

.hero #box1 #box-1 p {
    font-weight: 800;
    line-height: 15px;
    padding: 5px 15px;
}

/* =========box1 fo box-1 heigh width============== */
.hero #box1 #box-2 {
    height: 24%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    /* border: 1px solid; */
}

/* ==========box1 of box-2 btn(know more..) styling================= */
.hero #box1 #box-2 #btn {
    margin-left: 15px;
    margin-top: -10px;
    padding: 15px 31px;
    outline: none;
    font-weight: 700;
    border-radius: 5px;
    background-color: #000;
    color: orangered;
    border: 1px solid orangered;
}

/* ==========box1 of box-2 resume styling================= */
.hero #box1 #box-2 #resume {
    margin-left: 15px;
    padding: 15px 36px;
    outline: none;
    font-weight: 700;
    border-radius: 5px;
    color: orangered;
    background-color: black;
    border: 1px solid orangered;
}

/* =========hover effect of button============= */
.hero #box1 #box-2 #btn:hover {
    cursor: pointer;
    transition: .5s;
    background-color: orangered;
    color: white;
}

/* ============hover effect on resume button============= */
.hero #box1 #box-2 #resume:hover {
    cursor: pointer;
    transition: .5s;
    background-color: orangered;
    color: white;
}

/* ========box2 height width================= */
.hero #box2 {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* =============box2 of box-1 height and width=============== */
.hero #box2 #box2-box-1 {
    height: 60vh;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 10px double orangered;
    border-radius: 15px;
    border-bottom-left-radius: 90px;
    box-shadow: 0px 0px 10px 1px orangered;
}

.hero #box2 #box2-box-1 img {
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0px 1px 10px orangered);
}

/* ================box2 of box-2 height width================== */
.hero #box2 #box2-box-2 {
    height: 50%;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    /* box-shadow: 0px 1px 10px 1px white; */
    border-radius: 10px;
}

.hero #box2 #box2-box-2 a {
    padding: 5px;
    color: #898686;
    font-size: 30px;
}

/* ============box2 of box-2 icons================ */
/* ============box2 of box-2 icons================ */
#box2 #box2-box-2 i {
    color: orangered;
    padding: 5px 8px;
}

#box2 #box2-box-2 i:hover {
    text-shadow: 0px 1px 20px white;
    cursor: pointer;
    color: white;
}

/* ===============Project, Award box=================== */
.main-project{
    height: 13vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030e0d;
}
/* #project {
    height: 13vh;
    width: 80vh;
    border: 1px solid #a64421;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 5px 0px orangered;
    background-color: #080808;
}

#project #box {
    height: 100%;
    width: 33.3%;
    display: flex;
    border: 1px solid transparent;
    border-right-color: #a64421;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#project #box:hover{
    background-color: orangered;
    cursor:help;
}

#project #box #num {
    font-weight: 800;
    font-size: 30px;
    color: white;
}

#project #box #text {
    font-weight: 700;
    font-size: 14px;
    color: white;
}

#project #box3 {
    height: 100%;
    width: 33.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#project #box3:hover{
    cursor: help;
    background-color: orangered;
}

#project #box3 #num {
    font-weight: 800;
    font-size: 30px;
    color: white;
}

#project #box3 #text {
    font-weight: 700;
    font-size: 14px;
    color: white;
} */